/*** manage-wrapper ***/
.content {
    /*height: calc(100vh - 111px);*/
    /*padding: 20px 35px;*/
}

.manage-wrapper {
    background-color: white;
    /*height: 100%;*/
    /* position: relative; */
    /* left: -9999px; */
}

/*** filter - upper part of page content***/
.manage-wrapper .filter {

}

.manage-wrapper .quick-action-wrapper {
    height: 50px;
    vertical-align: middle;
    border-bottom: solid 1px #cbcbcb;
}

.manage-wrapper .quick-action-wrapper .title {
    font-size: 16px;
    font-family:OpenSans-Bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #55595c;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 4px solid #f6a623;
    width: 150px;
    display: inline-block;
    margin-top: 15px;
}

.manage-wrapper .quick-action-wrapper .quick-action {
    width: calc(100% - 190px);
    display: inline-block;
    text-align: right;
}

.manage-wrapper .quick-action-wrapper .quick-action:hover {
    cursor: pointer;
}

.manage-wrapper .quick-action-wrapper .quick-action .add-ques-icon {
    padding-left: 25px;
}

.manage-wrapper .quick-action-wrapper .quick-action .info {
    padding: 0 25px;
}

.manage-wrapper .quick-action-wrapper .quick-action .add-ques {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: 0.6px;
    color: #4a90e2;
    display: inline-block;
    padding-right: 25px;
    border-right: 1px solid #dbdbdb;
}

.manage-wrapper .quick-action-wrapper .quick-action .import-from-file {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: 0.6px;
    color: #4a90e2;
    padding-right: 25px;
    border-right: 1px solid #dbdbdb;
}

.manage-wrapper .filter .row {
    padding: 15px 30px 0 30px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.manage-wrapper .filter > .row {
    position: relative; /*for popup absolute*/
}

.manage-wrapper .row .add-question-wrapper {
    width: 381px;
}

.manage-wrapper .filter .add-exam {
    border-radius: 4px;
    background-color: #cccccc;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: 0.6px;
    color: #ffffff;
    height: 40px;
    width: 145px;
    border: none;
    vertical-align: middle;
}

.manage-wrapper .filter .add-exam:hover {
    cursor: not-allowed;
}

.manage-wrapper .filter .add-exam.create-able {
    background-color: #f48229;
}

.manage-wrapper .filter .add-exam.create-able:hover {
    cursor: pointer;
}

.manage-wrapper .filter .add-exam img {
    margin-right: 10px;
    margin-top: 3px;
}

.manage-wrapper .filter .add-exam:active {

}

.manage-wrapper .filter .add-exam-text {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    color: #9b9b9b;
}

.manage-wrapper .filter .add-exam-text .unselect-all {
    display: inline-block;
}

.manage-wrapper .filter .add-exam-text .unselect-all .close {
    color: #f6001e;
    font-size: 14px;
    font-weight: bold;
}

.manage-wrapper .filter .add-exam-text .unselect-all .unselect-text {
    color: #0076ff;
    font-size: 12px;
    text-decoration: underline;
}

.manage-wrapper .filter .add-exam-text .unselect-all:hover {
    cursor: pointer;
}

.manage-wrapper .filter .filter-btn-wrapper {
    width: calc(100% - 381px);
    /* text-align: right; */
}

.manage-wrapper .filter .filter-btn-wrapper .filter-tags {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 95px);
    text-align: right;
}

.manage-wrapper .filter .filter-tags .tag {
    display: inline-block;
    margin-right: 15px;
    position: relative;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    /* height: 100%; */
}

/*** see more tag part ***/
.manage-wrapper .filter .filter-tags .tag-wrapper {
    display: inline-block;
    margin-right: 4px;
    position: relative;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    /* height: 100%; */
}

.manage-wrapper .filter .filter-tags .tag .tag-text {
    height: 40px;
    border-radius: 5px;
    padding: 10px 18px;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
}

/*** see more tag part ***/
.manage-wrapper .filter .filter-tags .tag-wrapper .tag-text {
    height: 40px;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    font-weight: bold;
}

.manage-wrapper .filter .filter-tags .tag .tag-text.one,
.manage-wrapper .filter .filter-tags .tag .close.one {
    background-color: #45b162;
}

.manage-wrapper .filter .filter-tags .tag .tag-text.two,
.manage-wrapper .filter .filter-tags .tag .close.two {
    background-color: #66afe9;
}

.manage-wrapper .filter .filter-tags .tag .close {
    border-radius: 5px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 0 5px;
    position: absolute;
    top: 1px;
    right: -8px;
}

.manage-wrapper .filter .filter-tags .tag:hover,
.manage-wrapper .filter .filter-tags .tag-wrapper:hover,
.manage-wrapper .filter .filter-tags .tag .close:hover {
    cursor: pointer;
}

.manage-wrapper .filter .filter-btn {
    height: 45px;
    width: 90px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #4990e2;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: 0.6px;
    color: #4a90e2;
    vertical-align: middle;
    cursor: pointer;
}

.manage-wrapper .filter .filter-btn img {
    margin-right: 5px;
}

.manage-wrapper .filter .popup-filter-field {
    display: none;
    width: calc(100% - 60px);
    background-color: #ffffff;
    border: solid 1px #979797;
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 54px;
    padding: 40px 45px;
    box-sizing: border-box;
    /* height: calc(100vh - 300px); */
}

/* Popup arrow */
.manage-wrapper .filter .popup-filter-field::before {
    content: "";
    position: absolute;
    top: -16px;
    right: 35px;
    border-bottom: 10px solid #444;
    height: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.manage-wrapper .filter .popup-filter-field.show {
    display: inline-block !important;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.manage-wrapper .popup-filter-field .checkboxes-wrapper {
    height: calc(100% - 40px);
}

.manage-wrapper .popup-filter-field .categories,
.manage-wrapper .popup-filter-field .level,
.manage-wrapper .popup-filter-field .required-program {
    border-top: solid 1px #cccccc;
    font-size: 14px;
    /* padding-bottom: 28px; */
}

.manage-wrapper .popup-filter-field .categories .categories-title,
.manage-wrapper .popup-filter-field .level .level-title,
.manage-wrapper .popup-filter-field .required-program .required-program-title {
    width: 170px;
    display: inline-block;
    vertical-align: top;
    margin-top: 14px;
    color: #9b9b9b;
    letter-spacing: 0.6px;
}

.manage-wrapper .popup-filter-field .categories .categories-checkboxes,
.manage-wrapper .popup-filter-field .level .level-checkboxes,
.manage-wrapper .popup-filter-field .required-program .required-program-checkboxes {
    width: calc(100% - 175px);
    display: inline-block;
    vertical-align: top;
    margin-top: 14px;
    letter-spacing: 0.6px;
    color: #4a4a4a;
}

.manage-wrapper .popup-filter-field .categories .categories-checkboxes label,
.manage-wrapper .popup-filter-field .level .level-checkboxes label,
.manage-wrapper .popup-filter-field .required-program .required-program-checkboxes label {
    float: left;
    width: calc(25% - 5px);
    margin-bottom: 28px;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.manage-wrapper .popup-filter-field .categories .categories-checkboxes .category-checkbox,
.manage-wrapper .popup-filter-field .level .level-checkboxes .level-checkbox,
.manage-wrapper .popup-filter-field .required-program .required-program-checkboxes .level-checkbox {
}

.manage-wrapper .popup-filter-field .category-checkbox:not(:checked) + .category-checkbox-label:before,
.manage-wrapper .popup-filter-field .level-checkbox:not(:checked) + .level-checkbox-label:before,
.manage-wrapper .popup-filter-field .required-program-checkbox:not(:checked) + .required-program-checkbox-label:before {
    border-color: #b9b9b9;
}

.manage-wrapper .popup-filter-field .category-checkbox-label:after,
.manage-wrapper .popup-filter-field .level-checkbox-label:after,
.manage-wrapper .popup-filter-field .required-program-checkbox-label:after {
    top: 4px; /* color: #b9b9b9; */
}

.manage-wrapper .popup-filter-field .apply-btn-wrapper {
    text-align: right;
}

.manage-wrapper .popup-filter-field .apply-btn-wrapper .cancel-btn {
    display: none;
    width: 110px;
    height: 38px;
    border-radius: 4px;
    background-color: #f48229;
    line-height: 1.3;
    letter-spacing: 0.6px;
    color: #484848;
    border: 1px solid #c4c4c4;
    background: white;
    font-family: OpenSans;
}

.manage-wrapper .popup-filter-field .apply-btn-wrapper .apply-btn {
    width: 110px;
    height: 38px;
    border-radius: 4px;
    background-color: #f48229;
    color: white;
    border: none;
    line-height: 1.3;
    letter-spacing: 0.6px;
    color: #ffffff;
    font-family: OpenSans;
}

.manage-wrapper .popup-filter-field .apply-btn-wrapper .apply-btn:hover {
    cursor: pointer;
}

.manage-wrapper .filter .search-ques-wrapper {
    width: 270px;
    position: relative;
    /* float: left; */
}

.manage-wrapper .filter .search-ques {
    width: 100%;
    height: 42px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    padding-left: 15px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    text-align: left;
    color: #9b9b9b;
    box-sizing: border-box;
    padding-right: 60px;
}

.manage-wrapper .filter .search-ques-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    /*height: 42px;*/
    /*width: 50px;*/
    padding-top: 8px;
    box-sizing: border-box;
    padding-left: 10px;
    border: solid 1px #cccccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.manage-wrapper .filter .search-ques-btn:hover {
    cursor: pointer;
}

.manage-wrapper .filter .filter-area {

}

.manage-wrapper .filter .filter-area .list-category {
    width: 180px;
    height: 42px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    padding-left: 12px;
    font-size: 12px;
    font-family: Helvetica;
    line-height: 1.08;
    text-align: left;
    color: #373a3c;
}

.manage-wrapper .filter .filter-area .list-level {
    width: 90px;
    height: 42px;
    font-family: Helvetica;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    padding-left: 12px;
    font-size: 12px;
    line-height: 1.08;
    text-align: left;
    color: #373a3c;
    font-size: 12px;
    line-height: 1.08;
    text-align: left;
    color: #373a3c;
}

.manage-wrapper .filter .offset-setting {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    color: #666666;
    display: inline-block;
}

.manage-wrapper .filter .offset-setting .offset {
    width: 45px;
    height: 22px;
    border-radius: 2px;
    border: solid 1px #979797;
    font-size: 12px;
    line-height: 1.52;
    color: #666666;
    background-color: white;
}

.manage-wrapper .filter .current-list {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: 0.6px;
    color: #666666;
    display: inline-block;
    vertical-align: baseline;
}

/*** end filter - upper part of page content***/
/*** filter result - lower part of page content ***/
.manage-wrapper .result {
    /*margin-top: 10px;*/
    /*height: 100%;*/
    position: relative;
    width: 100%;
    max-height: calc(100% - 140px);
}

.manage-wrapper .result .table-area {
    /*height: 95%;*/
}

.manage-wrapper .result .outer-container {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    /*height: calc(100% - 50px);*/
}

.manage-wrapper .result .inner-container {
    /*height: 100%;*/
    overflow: hidden;
    min-width: 300px;
}

.manage-wrapper .result table {
    border-collapse: collapse;
    width: 100%;
}

.manage-wrapper .result th,
.manage-wrapper .result td {
    border: solid 1px #cccccc;
}

.manage-wrapper .result th:first-child,
.manage-wrapper .result td:first-child {
    border-left: none;
}

.manage-wrapper .result th:last-child,
.manage-wrapper .result td:last-child {
    border-right: none;
}

/*** filter result - table header ***/
.manage-wrapper .result .table-header {
    position: relative;
    left: inherit;
    width: calc(100% - 8px);
}

.manage-wrapper .result .table-header thead tr th {
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.manage-wrapper .result .table-header thead tr:nth-child(1) {
    width: 100%;
    height: 31px;
    font-size: 13px;
    background-color: #229541;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 0.6px;
    color: #ffffff;
}

.manage-wrapper .result .table-header thead .sort-btn {
    position: absolute;
    top: 10px;
    right: 4px;
}

.manage-wrapper .result .table-header .checkbox-head {
    width: 50px;
    min-width: 50px;
}

.manage-wrapper .result .table-header .checkbox-head:hover {
    cursor: pointer;
}

.manage-wrapper .result .table-header .checkbox-head .checkbox-head-label:before {
    border-color: white;
    background: #229541;
    margin-top: 5px;
}

.manage-wrapper .result .table-header .checkbox-head .checkbox-head-label:after {
    color: white;
    top: 3px;
}

.manage-wrapper .result .table-header .id-head {
    min-width: 70px;
    width: 70px;
}

.manage-wrapper .result .table-header .question-head {
    width: calc(100% - 370px);
    min-width: 300px;
}

.manage-wrapper .result .table-header .question-head:hover {
    cursor: pointer;
}

.manage-wrapper .result .table-header .result-head {
    min-width: 180px;
    width: 180px;
}

.manage-wrapper .result .table-header .result-head:hover {
    cursor: pointer;
}

.manage-wrapper .result .table-header .delete-head {
    min-width: 70px;
    width: 70px;
}

/*** filter result - end table header ***/
/*** filter result - table body part ***/
.manage-wrapper .result .table-body {
    overflow: auto;
}

.manage-wrapper .result .table-body input .check_box_icon {
    height: 14px;
    width: 14px;
}

.manage-wrapper .result .table-body tbody > tr:nth-child(2n) {
    background-color: white;
}

.manage-wrapper .result .table-body tbody > tr:nth-child(2n+1) {
    background-color: #f9f9f9;
}

.manage-wrapper .result .table-body tbody .result-row {

}

.manage-wrapper .result .table-body tbody .result-row:hover {
    background-color: #dcf3cd;
}

.manage-wrapper .result .table-body tbody .result-row td {
    box-sizing: border-box;
    position: relative;
}

.manage-wrapper .result .result-row .checkbox-col {
    text-align: center;
    min-width: 50px;
    width: 50px;
}

.manage-wrapper .result .result-row .checkbox-col:hover,
.manage-wrapper .result .result-row .checkbox-col .checkbox-col-btn:hover {
    cursor: pointer;
}

.manage-wrapper .result .result-row .id-col {
    min-width: 70px;
    width: 70px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #333333;
}

.manage-wrapper .result .result-row .question-col {
    padding: 10px 50px 10px 20px;
    position: relative;
    width: calc(100% - 370px);
    min-width: 300px;
}

.manage-wrapper .result .result-row .question-col:hover > .edit-question {
    display: block;
}

.manage-wrapper .result .result-row .question-col .question-content {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.6px;
    color: #4a4a4a;
    margin-bottom: 15px;
}

.manage-wrapper .result .result-row .question-col .question-content .myBtn {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #0076ff;
    background: none;
    border: none;
}

.manage-wrapper .result .result-row .question-col .question-content .myBtn:hover {
    cursor: pointer;
}

.manage-wrapper .result .result-row .delete-col .myBtn {
    background: none;
    border: none;
}

.manage-wrapper .result .result-row .delete-col .myBtn:hover {
    cursor: pointer;
}

.manage-wrapper .result .result-row .question-col .match-column-checkbox {

}

.manage-wrapper .result .result-row .question-col label {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    color: #333333;
    margin-left: 5px;
}

.manage-wrapper .result .result-row .question-col .used-count {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    color: #9b9b9b;
}

.manage-wrapper .result .result-row .question-col .edit-question {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 40px;
    height: 40px;
    display: none;
}

.manage-wrapper .result .result-row .question-col .edit-question:hover {
    cursor: pointer;
}

.manage-wrapper .result .result-row .question-col .public-toggle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.manage-wrapper .result .result-row .question-col .public-toggle .diagonal-line {
    background-color: white;
    height: 56.6px;
    width: 56.6px;
    border: 1px solid #9b9b9b;
    -webkit-transform: translateY(10px) translateX(12px) rotate(-45deg);
    position: absolute;
    top: 0px;
    left: 0;
}

.manage-wrapper .result .result-row .question-col .public-toggle .diagonal-line:hover {
    cursor: pointer;
}

.manage-wrapper .result .result-row .question-col .public-toggle-btn:hover {
    cursor: pointer;
}

.manage-wrapper .result .result-row .question-col .public-toggle-btn {
    position: absolute;
    top: 22px;
    right: 2px;
}

.manage-wrapper .result .result-row .result-col {
    width: 180px;
    min-width: 180px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.manage-wrapper .result .result-row .result-col .row {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.manage-wrapper .result .result-row .result-col .progress-wrapper {
    width: 100%;
    height: 8px;
    border-radius: 4.5px;
    background-color: #dbdbdb;
}

.manage-wrapper .result .result-row .result-col .progress-wrapper .progress-inner {
    height: 8px;
    border-radius: 4.5px;
    background-color: #229541;
    width: 40%;
}

.manage-wrapper .result .result-row .result-col .progress-caption {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.5px;
    text-align: center;
    color: #333333;
}

.manage-wrapper .result .result-row .delete-col {
    min-width: 70px;
    width: 70px;
    text-align: center;
}

.inner-container {
    text-align: -webkit-center;
}

/*** filter result - end table body part ***/

/*** customize scrollbar ***/
.mCustomScrollbar._mCS_1 {
    width: calc(100% - 8px);
}

#mCSB_1_scrollbar_vertical {
    right: -8px;
}

#mCSB_1_scrollbar_horizontal {
    bottom: -8px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 9px;
}

#mCSB_1_dragger_vertical .mCSB_dragger_bar {
    /*line-height: 30px;*/
    /*width: 8px;*/
    /*margin-right: 1px;*/
    /*background-color: #9b9b9b;*/
    border-radius: 2.5px;
}

.mCSB_1_scrollbar_vertical .mCS-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCSB_1_scrollbar_horizontal .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    border-radius: 2.5px;
    background-color: #dbdbdb;
    width: 8px;
    margin-right: 1px;
}

#mCSB_1_dragger_horizontal .mCSB_dragger_bar {
    height: 8px;
    background-color: #9b9b9b;
    border-radius: 2.5px;
}

#mCSB_1_scrollbar_horizontal > div > div.mCSB_draggerRail {
    height: 8px;
    background-color: #dbdbdb;
    border-radius: 2.5px;
    margin: 6px auto;
}

/*** modal ***/
/* The Modal (background) */
#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#myModal .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#myModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#myModal .close:hover,
#myModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*** checkbox custimization ***/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    /* padding-left: 25px; */
    cursor: pointer;
    width: 100%;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    /* position: absolute; */
    display: inline-block;
    /* left: 40%; */
    /* top: 40%; */
    width: 10px;
    height: 10px;
    border: 2px solid #229541;
    background: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    display: inline-block;
    top: 6px;
    left: 2px;
    font-size: 11px;
    font-weight: bold;
    line-height: 0.8;
    color: #229541;
    /*transition: all .2s;*/
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px solid #229541;
}

/* hover style just for information */
label:hover:before {
    border: 2px solid #229541;
}

.edit-icon {
    color: #aaa;
}

/*** filter result - pagination ***/
/*css for paging*/
.e_data_paginate li a:focus, .e_data_paginate .active > a {
    background-color: white !important;
    color: #4a90e2 !important;
    text-decoration: underline;
}

.e_data_paginate > li > a {
    color: #b9b9b9;
}

.e_data_paginate {
    display: -webkit-box;
}

.e_data_paginate li {
    margin-left: 5px;
    margin-right: 22px;
    font-size: 95%;
}

.e_data_paginate li.next-btn {
    margin-right: 10px;
}

.e_data_paginate li:not(.disabled) > a:hover {
    text-decoration: underline;
    color: #4a90e2
}

.e_data_paginate li.prev-btn {
    margin-left: -10px;
}

.e_data_paginate li.disabled {
    cursor: not-allowed;
}

.delete-col .trash_size {
    font-size: 16px;
}

.dataTables_paginate .e_data_paginate li a:not(.to_first, .to_end) {
    width: 24px;
    text-align: center;
}

.dataTables_paginate .e_data_paginate li:active {
    color: white;
}

.manage-wrapper .result .pagi {
    /* height: 50px; */
    display: block;
    align-items: center;
    background-color: white;
    padding: 15px 0px;
    justify-content: center;
    width: 100%;
}

.manage-wrapper .result .pagi div {
    display: inline-block;
    font-size: 14px;
    height: 20px;
    letter-spacing: 0.7px;
    color: #b9b9b9;
    padding-right: 20px;
}

/*** filter result - end pagination ***/