.modal-dialog {
    width: 900px;
}

.add_product table {
    border-collapse: collapse;
    width: 100%;
}

.add_product table th, .add_product table td {
    border: 1px solid #ccc;
    padding: 2px 5px;
}

.add_product .unit input {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.add_product .add_unit {
    font-size: 14px;
    color: #4a90e2;
}

.add_product .add_unit i {
    font-size: 18px;
    vertical-align: -4px;
}