.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.icon img {
    width: 100%;
}

.mini-icon{

}



.sub-menu-items .icon {
    background-size: 24px 24px;
}

.side-menu.close .sub-menu-items .icon {
    background-size: 20px 20px;
}

.sub-menu-items .icon img {
    width: 50%;
}

.drop-down-arrow {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #9b9b9b;
    position: absolute;
    top: 45%;
    right: 10%;
}

.drop-up-arrow {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 9px solid #9b9b9b;
    position: absolute;
    top: 45%;
    right: 10%;
}

.close .drop-down-arrow {

}

.close .drop-up-arrow {

}

.menu-dash-board {
    background-image: url('../../images/site/icon-dash-board.svg');
}

.menu-items:hover .menu-dash-board, .menu-items.active .menu-dash-board {
    background-image: url('../../images/site/icon-dash-board-active.svg');
}

.menu-program {
    background-image: url("../../images/site/icon-book.svg");
}

.menu-items:hover .menu-program, .menu-items.active .menu-program {
    background-image: url('../../images/site/icon-book-active.svg');
}

.menu-live-class {
    background-image: url("../../images/site/group-3.svg")
}

.menu-items:hover .menu-live-class, .menu-items.active .menu-live-class {
    background-image: url('../../images/site/group-3-active.svg');
}

.menu-calendar {
    background-image: url("../../images/site/calendar.svg");
}

.menu-items:hover .menu-calendar, .menu-items.active .menu-calendar {
    background-image: url('../../images/site/calendar-active.svg');
}

.menu-test {
    background-image: url('../../images/site/icon-trac-nghiem.svg');
}

.menu-items:hover .menu-test, .menu-items.active .menu-test {
    background-image: url('../../images/site/icon-trac-nghiem-active.svg');
}

.menu-question {
    background-image: url("../../images/site/icon-quetion.svg");
}

.menu-quiz {
    background-image: url("../../images/site/quiz/icon-quiz.png");
}

.sub-menu-items:hover .menu-question, .sub-menu-items.active .menu-question {
    background-image: url("../../images/site/combined-shape-copy-10-active.svg");
}

.menu-question-catalog {
    background-image: url('../../images/site/group-8.svg');
}

.sub-menu-items:hover .menu-question-catalog, .sub-menu-items.active .menu-question-catalog {
    background-image: url('../../images/site/group-8-copy-3-active.svg');
}

.menu-quiz {
    background-image: url("../../images/site/icon-quiz.svg");
}

.sub-menu-items:hover .menu-quiz, .sub-menu-items.active .menu-quiz {
    background-image: url('../../images/site/icon-quiz-active.svg');
}

.menu-result {
    background-image: url("../../images/site/icon-result.svg");
}

.sub-menu-items:hover .menu-result, .sub-menu-items.active .menu-result {
    background-image: url('../../images/site/icon-result-active.svg');
}

.menu-setting {
    background-image: url("../../images/site/icon-setting.svg");
}

.sub-menu-items:hover .menu-setting, .sub-menu-items.active .menu-setting {
    background-image: url('../../images/site/icon-setting-active.svg');
}

.menu-certificate {
    background-image: url("../../images/site/icon-certificate.svg");
}

.menu-items:hover .menu-certificate, .menu-items.active .menu-certificate {
    background-image: url("../../images/site/icon-certificate-active.svg");
}

.menu-close {
    background-image: url('../../images/site/icon-double-arrow.svg');
}

.menu-open {
    background-image: url('../../images/site/icon-double-arrow-right.svg');
}

.menu-items:hover .menu-close {
    background-image: url('../../images/site/icon-double-arrow-active.svg');
}

.menu-logout {
    background-image: url('../../images/site/ic_exit_to_app_black_18px.svg')
}

.menu-my-account {
    background-image: url('../../images/site/ic_account_box_black_18px.svg');
}

.save-icon {
    background-image: url('../../images/site/ic_save_black_18px.svg');
}

.save-next-icon {
    background-image: url('../../images/site/ic_arrow_forward_black_18px.svg');
}

.public-icon {
    background-image: url('../../images/site/ic_public_black_18px.svg');
}

.private-icon {
    background-image: url('../../images/site/ic_lock_black_18px.svg');
}

.add-icon {
    background-image: url('../../images/site/ic_add_black_18px.svg');
}

.back-icon {
    background-image: url('../../images/site/ic_keyboard_backspace_black_18px.svg')
}

.support-icon {
    background-image: url('../../images/site/ic_info_black_18px.svg');
}

.close-icon {
    background-image: url('../../images/site/ic_close_black_18px.svg');
}

.search-icon{
    background-image: url('../../images/site/ic_search_black_18px.svg');
}

.setting-icon{
    background-image: url('../../images/site/ic_settings_black_18px.svg');
}

.notify-icon{
    background-image: url('../../images/site/ic_notifications_black_24px.svg');
}

.trash-icon{
    background-image: url('../../images/site/icon-trash-copy.svg');
}

.trash-icon.active{
    background-image: url('../../images/site/icon-active-trash-copy.svg');
}

.sort-icon{
    background-image: url('../../images/site/sort.svg');
}