.cc_block_added_course {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(41, 48, 59, .8);
    z-index: 9999999;
    display: none;
}

.cc_added_course_layout {
    width: 900px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
}

.cc_added_course_header .btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.cc_added_course_content {
    display: flex;
    padding: 30px;
    background-color: #e9f7f1;
    border-color: #e9f7f1;
    color: #004025;
    border-radius: 3px;
    align-items: center;
}

.cc_added_course_content>div{
    flex: 1 1 auto;
}
