.cc_block_footer {
    background-color: #fff;
}

.cc_footer_child_1 {
    padding: 40px 0 30px 0;
    border-top: 1px solid #e8e9eb;
}

.cc_footer_child_2 {
    border-top: 2px solid #e8e9eb;
    border-bottom: 5px solid var(--main-color);
    padding: 30px 0;
}

.cc_footer_link ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cc_footer_link ul li {
    flex: 33.3%;
    width: 33.3%;
}

.cc_footer_link ul li a {
    color: var(--sec-color);
    font-size: var(--fsize-small);
}

.cc_footer_link ul li:nth-child(n+4) {
    width: 22.2%;
}

.cc_footer_wold, .cc_footer_lang_content {
    float: left;
    line-height: 24px !important;
}

.cc_footer_local {
    margin-top: 30px;
}

.cc_footer_local ul, .cc_footer_temps ul {
    padding-left: 0;
}

.cc_footer_temps {
    margin-top: 10px;
    float: right;
}

.cc_footer_local ul li, .cc_footer_temps ul li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -5px;
}

.cc_footer_local ul li a, .cc_footer_temps ul li a {
    color: #9aa1a2;
    font-size: var(--fsize-small);
}

.cc_footer_local ul li:first-child a, .cc_footer_local ul li a.active {
    color: var(--gray);
    pointer-events: none;
}

.cc_footer_logo {
    display: flex;
    align-items: center;
}

.cc_footer_logo a img {
    width: 110px;
}

.cc_footer_logo span {
    margin-top: 12px;
}

.cc_footer_copyright {
    color: var(--gray);
    font-size: var(--fsize-small);
}

.cc_block_footer {
    flex-shrink: 0;
    background-color: #fff;
    position: relative;
}

.cc_block_footer .custom-select:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}
