.cc_block_login_regis {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(41, 48, 59, .8);
    z-index: 9999999;
    display: none;
}

.cc_login_regis_layout {
    width: 360px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.cc_login_regis_header, .cc_login_regis_have_account {
    padding: 20px 19px;
}

.cc_login_regis_header .btn {
    margin-top: -10px;
    background-color: transparent;
}

.cc_login_regis_header .btn:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.cc_login_regis_header {
    border-bottom: 1px solid #dedfe0;
}

.cc_login_regis_header > span {
    width: calc(100% - 40px);
    display: inline-block;
}

.cc_login_regis_midle {
    padding: 0 20px;
    margin: 20px 0 0;
}

.cc_login_regis_facebook a,
.cc_login_regis_google a {
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(41, 48, 59, .24), 0 0 2px 0 rgba(41, 48, 59, .12);
}

.cc_login_regis_facebook a {
    background-color: #1a538a;
    color: var(--white);
}

.cc_login_regis_facebook a:hover, .cc_login_regis_google a {
    text-decoration: none;
}

.cc_login_regis_facebook i,
.cc_login_regis_google i {
    margin-right: 10px;
}

.cc_login_regis_google a {
    background-color: var(--white);
    color: var(--dark);
}

.cc_login_regis_facebook a:hover {
    background-color: #164675;
}

.cc_login_regis_google a:hover {
    background-color: #f2f3f5;
}

.cc_login_regis_form {
    margin: 20px 0;
}

.cc_login_regis_form form div:nth-child(2) i {
    font-size: 20px;
}

.cc_login_regis_form .btn {
    width: 100%;
    font-weight: bold;
}

.cc_login_regis_forgot_pass {
    margin-bottom: 10px;
}

.cc_login_regis_terms {
    font-size: var(--fsize-extra-small);
    margin-bottom: 15px;
}

.cc_login_regis_forgot_pass a,
.cc_login_regis_terms a,
.cc_login_regis_have_account a {
    color: var(--sec-color);
}

.cc_login_regis_form form.login div, .cc_login_regis_form form.signup div, .cc_login_regis_form form.forgot_password div {
    position: relative;
    margin-bottom: 8px;
}

.cc_login_regis_form form.login div label, .cc_login_regis_form form.signup div label {
    margin-bottom: 0px;
    font-size: 13px;
}

.cc_login_regis_form form.login div i, .cc_login_regis_form form.signup div i, .cc_login_regis_form form.forgot_password div i.email {
    position: absolute;
    height: 17px;
    top: 17px;
    left: 10px;
    opacity: 0.4;
}

.cc_login_regis_form form.login div i.lock, .cc_login_regis_form form.signup div i.lock {
    left: 12px;
}

.cc_login_regis_form form.login div input, .cc_login_regis_form form.signup div input, .cc_login_regis_form form.forgot_password div input {
    padding-left: 35px;
    font-size: 17px;
}

.form-control:focus {
    box-shadow: inset 0 0 1px rgba(0, 119, 145, .5);
    border-color: #76c5d6 !important;
}

input.error {
    border: 1px solid red !important;
}

.js_login_regis_close:hover {
    background-color: #e6f2f5 !important;
    color: black !important;
}

.separate {
    border-top: 1px solid #dedfe0;
    height: 1px;
}

.forgot-password-capcha {
    width: 304px;
    height: 78px;
    transform: scale(.77, .7);
    -webkit-transform: scale(.77, .7);
}

.capcha-warning {
    width: 100%;
    height: 70px;
    background-color: #faebeb;
    margin-bottom: 20px;
    padding: 18px 26px;
    display: none;
}

.capcha-warning .notify-capcha {
    color: #521822;
    display: inline-block;
    float: right;
    padding-left: 30px;
    margin-top: -23px;
}

.capcha-warning i {
    color: #ec5252;
}

.reset-or-login {
    width: 80%;
    margin: auto;
    text-align: center;
}

.reset-or-login .btn {
    width: 94%;
    padding: 6px 12px;
    font-weight: 500;
}
