.cc_block_navbar {
    height: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--bshadow);
    background-color: var(--white);
    position: fixed;
    width: 100%;
    z-index: 999999;
    top: 0;
    left: 0;
}

.cc_navbar_child {
    display: flex;
    justify-content: space-between;
    background: inherit;
    box-sizing: border-box;
    height: 65px;
    position: relative;
    z-index: 1011;
}

.cc_navbar_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cc_navbar_center {
    flex: 1;
    min-width: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cc_navbar_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cc_navbar_right .btn {
    height: calc(2.25rem + 6px);
}

.cc_navbar_logo {
    width: 110px;
    height: 100%;
    object-fit: contain;
}

.cc_navbar_child .cc_navbar_logo .navbar-brand {
    height: 100%;
}

.cc_navbar_cat {
    min-width: 106px;
    /*margin: 0 10px;*/
    position: relative;
    padding: 22px 0;
    cursor: pointer;
}

.cc_navbar_cat_title, .cc_navbar_cat_icon {
    color: var(--gray);
}

.cc_navbar_cat_title {
    margin-left: px;
    font-size: var(--fsize-small);
}

.cc_navbar_mobi_humbuger, .cc_navbar_mobi_search {
    background-color: var(--white);
    color: var(--gray);
}

.cc_navbar_mobi_search {
    margin-right: 10px;
}

.cc_navbar_log button:first-child {
    margin-right: 10px;
}

/* css navbar dropdown */
.cc_navbar_cat_dropdown {
    background-color: var(--white);
    top: 65px;
    left: 0;
    overflow-y: auto!important;
}
.cat-name {
    font-size: 15px;
    display: inline-block;
    width: calc(100% - 70px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cc_navbar_cat_dropdown::before,
.cc_navbar_cat_dropdown::after {
    border-style: solid;
    border-width: 0 10px 13px;
    content: "";
    height: 0;
    position: absolute;
    left: 14px;
    width: 0;
}

.cc_navbar_cat_dropdown::before {
    border-color: transparent transparent #e8e9eb;
    top: -14px;
}

.cc_navbar_cat_dropdown::after {
    border-color: transparent transparent #fff;
    top: -12px;
}

.cc_navbar_cat_dropdown_sec, .cc_navbar_cat_dropdown_third {
    background-color: #f9f9f9;
    top: 0;
    left: 100%;
}

.cc_navbar_cat_dropdown,
.cc_navbar_cat_dropdown_sec,
.cc_navbar_cat_dropdown_third {
    position: absolute;
    padding: 10px 0;
    width: 324px;
    height: 530px;
    box-shadow: 4px 4px 16px rgba(20, 23, 28, .25);
    display: none;
    border-bottom-left-radius: 3px;
}

.cc_navbar_cat_dropdown ul {
    padding-left: 0;
}

.cc_navbar_cat_dropdown li {
    list-style-type: none;
    padding: 5px 15px;
}

.cc_navbar_cat_dropdown li:hover:not(.cc_navbar_cat_dropdown_third_title) {
    background-color: #f2f3f5;
}

.cc_navbar_cat_dropdown li:hover:not(.cc_navbar_cat_dropdown_third_title) a {
    color: #007791;
}

.cc_navbar_cat_dropdown li .cc_navbar_cat_dropdown_title {
    line-height: 1;
    vertical-align: middle;
}

.cc_navbar_cat_dropdown li i {
    vertical-align: middle;
    color: #a1a7b3;
    margin-right: 6px;
}

.cc_navbar_cat_dropdown_third_title {
    cursor: text;
}

.cc_navbar_cat_dropdown li a {
    text-decoration: none;
    color: #29303b;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    position: relative;
    display: block;
}

.cc_navbar_acount {
    /*display: none;*/
}

.cc_navbar_acount > a {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 50px;
    color: var(--gray);
    white-space: nowrap;
    /*border: 1px solid var(--light-gray);*/
    background-color: var(--white);
    text-align: center;
    padding: 8px;
}

.cc_navbar_acount li:hover {
    background-color: var(--light);
}

.cc_navbar_acount_icons {
    color: var(--gray);
    font-size: 15px;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    max-width: 100%;
    line-height: 40px;
}

.cc_navbar_acount_icons i {
    display: inline-block;
    vertical-align: middle;
}

.profile .cc_navbar_acount_icons {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border-style: solid;
    border-width: 0px;
    color: var(--gray);
    font-size: 15px;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    max-width: 100%;
    line-height: 40px;
}

.cc_comp_shop_cat_empty {
    padding: 31px;
}

.cc_navbar_acount_dropdown a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--gray);
    font-size: 15px;
    font-weight: 400;
    padding: 0px 22px;
    width: 100%;
    position: relative;
}

.cc_navbar_acount_dropdown li.profile a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--gray);
    font-size: 15px;
    font-weight: 400;
    padding: 10px 22px;
    width: 100%;
    position: relative;
}

.cc_navbar_acount_dropdown a:hover {
    text-decoration: none;
}

.cc_navbar_acount_dropdown ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.cc_navbar_acount_options {
    flex: 1;
    min-width: 1px;
    display: inline-block;
}

.cc_navbar_acount_options span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--gray);
}

.cc_navbar_mobile_search {
    position: absolute;
    top: 65px;
    width: 100%;
    padding: 10px 15px;
    background-color: var(--white);
    display: none;
}

.cc_navbar_mobile_search.active {
    display: block;
}

.cc_navbar_shop_cart {
    /*display: none;*/
}

.cc_navbar_shop_cart_child {
    padding: 10px 0 0;
    max-height: 230px;
    overflow-y: auto;
}

.cc_navbar_shop_cart_child > a {
    display: flex;
    padding: 10px 20px;
}

.cc_navbar_shop_cart_child > a:hover {
    text-decoration: none;
    background-color: var(--light);
}

.cc_navbar_shop_cart_content {
    font-size: var(--fsize-small);
    color: var(--gray);
    overflow: hidden;
    white-space: nowrap;
}

.cc_navbar_shop_cart_content > div {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cc_navbar_shop_cart_money > span:first-child {
    color: var(--main-color);
}

.cc_navbar_shop_cart_img {
    width: 70px;
    min-width: 70px;
}

.cc_navbar_shop_cart_total {
    padding: 10px 20px;
    background: #f2f3f5;
}

.cc_navbar_shop_cart_total p span:first-child,
.cc_navbar_shop_cart_total p s {
    font-size: 18px !important;
}

.cc_navbar_shop_cart_total p span.package-price {
    font-size: 18px;
    color: #29303b;
    font-weight: 600 !important;
}

.cc_navbar_shop_cart_total p s {
    display: block;
    font-size: 15px !important;
    margin-left: 100px;
}

.cc_navbar_shop_cart_total .btn {
    width: 100%;
    border-radius: 2px;
    background-color: #007791;
}
