html, body {
    height: 100%;
}

body {
    width: 100%;
    font-family: OpenSans;
    font-size: 14px;
    position: relative;
}

p {
    margin: 0 0 10px;
}

a {
    display: inline;
    text-decoration: none;
}

/*** header ***/
header {
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 0 #bababa;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header {
    margin: 0 auto;
    height: 100%;
}

.header .header-logo {
    width: 50%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.header .header-logo img {
    padding: 10px 0;
    object-fit: contain;
    max-height: 30px;
}

.header .header-support {
    width: 49%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.header .header-support > span {
    font-family: OpenSans;
    font-style: normal;
    font-stretch: normal;
    color: #4a4a4a;
}

.header .header-support .hotline {
    font-family: OpenSans-Bold;
}

/*** container ***/
.container {
    margin: 0 auto;
    min-height: calc(100% - 62px);
}

.container-login {
    width: 80%;
    padding: 0 10%;
    position: relative;
}

.container-login::after {
    content: "";
    background-image: url("../../../images/background5.jpg");
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container .sub-container {
    margin-top: 120px;
    vertical-align: top;
}

/*** sub-container col-form ***/
.container .col-form {
    border-radius: 4px;
    width: 39%;
    display: inline-block;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 78px;
    background-color: #f1f1f1;
}

.container .sub-col-form {
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/*** form part ***/
.container .col-form .tab-pane {
    border: 1px solid #cbcbcb;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container .col-form .tab-pane .title-login {
    margin-top: 13px;
    height: 38px;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #55595c;
}

.container .col-form .tab-pane .has-error {
    color: red;
    font-size: 13px;
    padding: 5px 10px;
}

.container .col-form .tab-pane .email-group {
    width: 80%;
    margin-left: 10%;
    display: flex;
    position: relative;
}

.container .col-form .tab-pane .email-group .header-input {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 8px 0 0 8px;
    background-color: #ffffff;
    border: solid 1px #9b9b9b;
    border-right: none;
    font-family: "OpenSans";
    box-sizing: border-box;
    z-index: 3;
}

.container .col-form .tab-pane .icon-input {
    margin-top: 9px;
    margin-left: 0;
}

.container .col-form .tab-pane .email-group .username {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 8px 8px 8px 8px;
    background-color: #ffffff;
    border: solid 1px #9b9b9b;
    font-family: "OpenSans";
    box-sizing: border-box;
    padding-right: 10px;
    position: absolute;
    left: 0px;
    padding-left: 40px;
}

.container .col-form .tab-pane .password-group {
    margin-top: 4px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    position: relative;
}

.container .col-form .tab-pane .password-group .header-input-pwd {
    margin-top: 12px;
    /* width: 48px; */
    padding-left: 12px;
    padding-right: 12px;
    height: 40px;
    border-radius: 8px 0 0 8px;
    background-color: #ffffff;
    border: solid 1px #9b9b9b;
    border-right: none;
    font-family: "OpenSans";
    box-sizing: border-box;
    z-index: 3;
}

.container .col-form .tab-pane .password-group span {
    width: 100%;
    position: relative;
}

.container .col-form .tab-pane .password-group .password {
    margin-top: 12px;
    width: 100%;
    height: 40px;
    border-radius: 8px 8px 8px 8px;
    background-color: #ffffff;
    border: solid 1px #9b9b9b;
    font-family: "OpenSans";
    padding-right: 40px;
    box-sizing: border-box;
    position: absolute;
    padding-left: 40px;
    left: 0;
}

.container .col-form .tab-pane .password-group .peek-password {
    position: absolute;
    top: 25px;
    right: 12px;
}

.peek-password:hover {
    opacity: 0.7;
}

.container .col-form .tab-pane .password-group .peek-password:hover {
    cursor: pointer;
}

.student-login .has-error {
    margin: 5px;
    color: red;
}

.container .col-form .tab-pane .remember-checkbox-wrapper {
    box-sizing: border-box;
    padding-left: 10%;
    display: inline-flex;
    margin-top: 20px;
    width: 100%;
}

.container .col-form .tab-pane .login-btn {
    margin: 20px;
    width: 80%;
    height: 48px;
    border-radius: 8px;
    background-color: #229541;
    border: none;
}

.container .col-form .tab-pane .login-btn:hover {
    background-color: #1b5e20;
}

.container .col-form .tab-pane .login-btn .text-btn-login {
    margin-top: 14px;
    width: 96px;
    height: 22px;
    font-family: OpenSans-Semibold;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
}

/*** footer ***/
.footer {
    width: 100%;
    height: 62px;
    background-color: #f1f1f1;
}

.footer > div {
    margin: 0 auto;
}

.language_login {
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: top;
    margin-top: 25px;
}

.footer .text-footer {
    display: inline-block;
    width: 49%;
    vertical-align: bottom;
    text-align: right;
    margin-top: 25px;
    height: 37px;
    font-family: OpenSans;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #9b9b9b;
}